/* dashboard.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    background-image: url("images/meetingroom.PNG");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 800px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.study-groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.group {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    text-align: left;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

p {
    font-size: 1.1em;
}

p a {
    color: #4CAF50;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

p {
    font-size: 1em;
    margin-top: 20px;
}
