body {
    font-family: 'Courier New', monospace;
    background-color: #f4f4f9;
    background-image: url(images/honeycombearth.PNG);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #1b1a1a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 80%;
    max-width: 600px;
}

h1 {
    color: #4CAF50;
    margin-bottom: 20px;
}

.greeting {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 20px;
}

.button {
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}
