body {
    font-family: 'Courier New', monospace;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(95, 89, 89, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 30px;
    text-align: center;
}

h1 {
    color: #fffefe;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

label {
    font-size: 1em;
    color: #f8f8f8;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

input:focus {
    border-color: #4CAF50;
    outline: none;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.submit-btn:hover {
    background-color: #45a049;
}

.register-info {
    margin-top: 20px;
    font-size: 0.9em;
}

.register-info a {
    color: #4CAF50;
    text-decoration: none;
}

.register-info a:hover {
    text-decoration: underline;
}
