
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #d9534f;
}

form {
    width: 80%;
    max-width: 400px;
    margin: 30px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #c9302c;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
