{% extends 'base.html' %}

{% block content %}
    <h2>Study Groups</h2>
    <ul>
        {% for group in groups %}
            <li>
                <a href="{% url 'group_detail' group.id %}">{{ group.name }}</a>
                {% if user.is_staff %}
                    <a href="{% url 'study_group_update' pk=group.id %}">Edit</a>
                    <a href="{% url 'study_group_delete' pk=group.id %}">Delete</a>
                {% else %}
                    <a href="{% url 'join_group' group.id %}">Join</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if user.is_staff %}
        <a href="{% url 'create_study_group' %}">Create a new study group</a>
    {% endif %}
{% endblock %}
