{% extends 'base.html' %}

{% block content %}
    <h1>{{ study_group.name }}</h1>
    <p>{{ study_group.description }}</p>
    <p>Created by: {{ study_group.created_by.username }}</p>
    <p>Members:</p>
    <ul>
        {% for user in study_group.users.all %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>
    
    {% if user.username == 'adavis' %}
        <div class="admin-buttons">
            <a href="{% url 'create_study_group' %}" class="btn create-btn">Create Group</a>
            <a href="{% url 'update_study_group' study_group.id %}" class="btn update-btn">Update Group</a>
            <a href="{% url 'delete_study_group' study_group.id %}" class="btn delete-btn">Delete Group</a>
        </div>
    {% endif %}
{% endblock %}
