<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Groups</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>
    <h1>Your Study Groups</h1>

    {% if study_groups %}
        <ul>
            {% for group in study_groups %}
                <li>
                    <h2>{{ group.name }}</h2>
                    <p>{{ group.description }}</p>
                    <a href="{% url 'study_group_update' group.pk %}">Edit</a> |
                    <a href="{% url 'study_group_delete' group.pk %}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You haven't created any study groups yet.</p>
    {% endif %}

    <br>
    <a href="{% url 'create_study_group' %}">Create a new Study Group</a>
    <br>
    <a href="{% url 'home' %}">Back to Home</a>
</body>
</html>
